<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:jaxws="http://cxf.apache.org/jaxws"

	xmlns:jaxrs="http://cxf.apache.org/jaxrs"

	xsi:schemaLocation=" http://www.springframework.org/schema/beans 
http://www.springframework.org/schema/beans/spring-beans.xsd 
http://cxf.apache.org/jaxws 
http://cxf.apache.org/schemas/jaxws.xsd
http://cxf.apache.org/jaxrs  
http://cxf.apache.org/schemas/jaxrs.xsd">



	<bean id="user" class="com.computer.service.UserServiceImpl" />
	<jaxrs:server address="/user">
		<jaxrs:serviceBeans>
			<ref bean="user"></ref>
		</jaxrs:serviceBeans>
		<jaxrs:providers>
			<bean class="com.alibaba.fastjson.FastJsonProvider" />
		</jaxrs:providers>
	</jaxrs:server>

	<bean id="state" class="com.computer.service.AStateServiceImpl" />
	<jaxrs:server address="/state">
		<jaxrs:serviceBeans>
			<ref bean="state"></ref>
		</jaxrs:serviceBeans>
		<jaxrs:providers>
			<bean class="com.alibaba.fastjson.FastJsonProvider">
			</bean>
		</jaxrs:providers>

	</jaxrs:server>

</beans>
